<!DOCTYPE html>

<html>
<head>
    <title>ReactJS Comment</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div id="hello" class="well">
        </div>
        <div id="commentBoxId" class="well">

        </div>
    </div>

    <script src="~/CommentApp/build/app.js"></script>
</body>
</html>
